body {
  background-color: #5fa8fd;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.panel {
  background-color: white;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  max-width: 960px;
  border-radius: 10px;
  margin-top: 50px;
  padding: 15px 25px;
  justify-content: space-evenly;
}

.pricing-plan {
  color: #016ff9;
  padding: 25px 50px;
  border-right: 1px solid #e1f1ff;
}

.princing-plan:last-child {
  border-right: none;
}
.pricing-img {
  max-width: 100%;
  margin-bottom: 10px;
}

.pricing-header {
  color: #888787;
  font-size: 16px;
  font-weight: 600;

  letter-spacing: 1px;
}

.pricing-features {
  margin: 50px 0 25px;
  padding: 0;
}

.pricing-features-item {
  border-top: 1px solid #d3e7fe;
  font-size: 12px;
  list-style: none;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 12px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #d3e7fe;
}

.pricing-price {
  font-size: 32px;
  font-weight: 700;
  display: block;
}

.pricing-button {
  background-color: white;
  text-decoration: none;
  padding: 15px 35px;
  margin: 25px 0;
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #5fa8fd;
  display: inline-block;
  transition: background-color 0.2ms ease-in-out;
}

.pricing-button:hover {
  background-color: #b6d6fb;
}

.is-featured {
  background-color: #5fa8fd;
  color: white;
  transition: background-color 0.2ms ease-in-out;
}

.is-featured:hover {
  background-color: #4699ff;
}
